<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Entrepreneurship{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="icon" href="{% static 'img/banner.png' %}" type="image/webp"> <!-- Add this line for favicon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <!-- Scripts - Load in correct order -->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="{% static 'auth.js' %}" defer></script>
    <script src="{% static 'booking.js' %}" defer></script>
</head>
<body>
    <header>
        <div class="banner-container">
            <img src="{% static 'img/banner.png' %}" alt="Banner" class="banner">
        </div>
        <h1>Neatify</h1>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'bookings' %}">Bookings</a></li> <!-- Show Bookings tab only when logged in -->
                    <li class="profile-container">
                        <a href="{% url 'account' %}" class="profile-link">
                            {% if user.picture %}
                                <div style="display: flex; align-items: center; max-width: 50px; border-radius: 50%; overflow: hidden;">
                                    <img src="{{ user.picture.url }}" alt="Account" class="profile-pic" style="width: 100%; display: inline-block; vertical-align: middle;">
                                </div>
                            {% else %}
                                <div style="display: flex; align-items: center; max-width: 50px; border-radius: 50%; overflow: hidden;">
                                    <img src="{% static 'img/default-profile.png' %}" alt="Account" class="profile-pic" style="width: 100%; display: inline-block; vertical-align: middle;">
                                </div>
                            {% endif %}
                        </a>
                    </li>
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2025 Entrepreneurship Project</p>
    </footer>
    {% block extra_js %}{% endblock %}
    <script src="{% static 'calendar.js' %}" defer></script>
</body>
</html>