{% extends "base.html" %}

{% block title %}Staff List - Entrepreneurship{% endblock %}

{% block content %}
<h2>Staff List</h2>
<p>Here is the list of available staff.</p>
<div class = "staff-grid">
    {% for staff in staff_list %}
    <div class="card">
        <img src="{{ staff.image_url }}" alt="{{ staff.name }}" class="card-image">
        <div class="card-text">
            <h2>{{ staff.surname }} {{ staff.name }}</h2>     
            <div class="desc">Rating: {{ staff.rating }}</div>
            <div class="actions">
                 <button><i>Book cleaning</i></button>
            </div>
        </div> 
      </div>
    {% endfor %}
</div>
{% endblock %}