{% extends "base.html" %}
{% load static %}

{% block title %}Staff List - NeatClean{% endblock %}

{% block content %}
<h2>Staff List</h2>
<p>Here is the list of available staff.</p>
<div class="staff-grid">
    {% for staff in staff_list %}
    <div class="card">
        {% if staff.picture %}
            <img src="{{ staff.picture.url }}" alt="{{ staff.get_full_name }}" class="card-image">
        {% else %}
            <img src="{% static 'img/default-profile.png' %}" alt="Default Profile" class="card-image">
        {% endif %}
        <div class="card-text">
            <h2>{{ staff.surname }} {{ staff.name }}</h2>
            <div class="actions">
                <button type="button" onclick="bookCleaner('{{ staff.id }}', '{{ staff.surname }} {{ staff.name }}')">Book cleaning</button>
            </div>
        </div>
    </div>
    {% endfor %}
    <input type="hidden" id="date" value="{{ date }}">
    <input type="hidden" id="time" value="{{ time }}">
</div>
{% endblock %}